# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/ephemeral/

# Firebase
android/app/google-services.json

# IDE
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
